@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Newbridge Library</h1>
    <img id="index-img"src="https://www.metmuseum.org/-/media/Images/Art/Libraries%20and%20Research%20Centers/Costume%20Institute/Costume%20Institute_marquee.jpg" alt="Mountain View">
    <div class="book-container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="h2-index">Welcome to Newbridge Library</h2>
                <p>
                    At our library you can peruse our many books from genres and authors to suit everyone's tastes. Not only can you look through the books and authors we have, you can also give and view feedback and ratings from other booklovers, to find out what might suit you.
                </p>
            </div>
        </div>
            <div class="row info-container">
                <div class="col-md-10 col-info">
                    <h2 id="h2-index">Our Books</h2>
                    <p>
                        Here you can read about our many books. We stock several different writers and genres. If you see any of your favourites missing from our collection, please tell us so we can update what we have.
                    </p>
                    <p><a class="btn btn-default btn-center" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">Here's what we stock &raquo;</a></p>
                </div>
            </div>
            <div class="row info-container">
                <div class="col-md-10 col-info">
                    <h2 id="h2-index">Our Authors</h2>
                    <p>We stock many different authors, from the classics to the breakout writers. Here you can read through the list of people that we currently have.</p>
                    <p><a class="btn btn-default btn-center" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">All of our writers &raquo;</a></p>
                </div>
            </div>
            <div class="row info-container">
                <div class="col-md-10 col-info">
                    <h2 id="h2-index">Our Feedback</h2>
                    <p>This is where you can check your orders and when they're due back. You can also renew current orders, so that you can have longer with your favourite books!</p>
                    <p><a class="btn btn-default btn-center" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See what people think &raquo;</a></p>
                </div>
            </div>
            <div class="row info-container">
                <div class="col-md-10 col-info">
                    <h2 id="h2-index">Our Collection</h2>
                    <p>Here you can look through our full collection of books and find particular books and authors you might be interested in!</p>
                    <p><a class="btn btn-default btn-center" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Come have a peek at who we stock &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
